<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.selliott.twelvetile" android:versionCode="3" android:versionName="0.9.3">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".TwelveTile" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Help" android:label="@string/help_name" />
		<activity android:name=".Preferences" android:label="@string/preferences_name" />
		<activity android:name=".Reset" android:label="@string/reset_name"
			android:theme="@android:style/Theme.Translucent" />
	</application>
</manifest> 
